.jumbotron {
  border-radius: 0;
  padding: 4rem 1rem 1.5rem 1rem;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom: 1px solid #343a40;
  padding-bottom: 8px;
}